html,
body {
  height: 100%;
  font-size: 1rem;
  font-family: 'Lexend',sans-serif;
  font-style: bold;
  overflow-x: hidden;
}

button.btn.btn-primary {
  font-size: 2.5rem;
  padding: 15px 30px;
  max-width: 500px;
}

nav li a:hover {
  background-color: cadetblue;
  border-radius: 30px;
}
.gradient {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 70% 95%, 0 100%);
}

div.content {
  text-align: center;
}

.page-header {
  display: flex;
  margin-top: 3.5rem;
  font-size: 200px;
  color: #000000;
  padding: 5rem 3rem 5rem 3rem;
  gap: 5rem;
}
.page-header p {
  padding: 5rem 5rem 5rem 2rem;
}

.page-header button {
  justify-content: center;
}
li {
  padding-left: 2.5rem;
}

img.header-img {
  max-width: 800px;
  padding: 4rem 0rem 0rem 5rem;
}

.separator {
  height: 1px;
  width: 100%;
  margin: 25px 0;
  background: #BBBBBB;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*-----------------------------------*\
#TEMPLATES
\*-----------------------------------*/
.templates {
  margin-bottom: 10rem;
  background-size: cover;
  height: auto;
  width: auto;
  padding-bottom: 7rem;
  background: rgb(240, 240, 240);
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
}

.templates h1 {
  padding-top: 3.5rem;
  text-align: center;
}

.templates p {
  padding: 1.5rem;
  text-align: center;
  font-size: 18px;
}
.templates img {
  padding: rem;
  border: 0px;
}

/*-----------------------------------*\
#FEATURES
\*-----------------------------------*/
.features h1 {
  margin: 0rem 0rem 2rem 0rem;
  text-align: center;
}

#Feature {
  margin: 5rem 2.5rem 5rem 2.5rem;
  border: 1px;
  height: auto;
}


.light-blue-background {
 background-color: #e7f0fd; /* Light blue color */
  color: black;
  padding: 15px;
   border: 2px solid #80bfff; /* Border color for contrast */
   border-radius: 8px;
  }

/*-----------------------------------*\
#FAQ
\*-----------------------------------*/
.faq {
  margin-top: 5rem;
  padding: 5rem 0rem 0rem 0rem;
}

.faq h1 {
  margin: 0rem 0rem 2rem 0rem;
  text-align: center;
}

.faq p {
  padding: 1.5rem;
  text-align: center;
  font-size: 18px;
}


#Card {
    margin: 2.5rem 5rem 2.5rem 5rem;
    border: 1px;
    box-shadow: 5px 10px 18px #888888;
    height: auto;
}
#Card h3 {
    padding: 2.5rem;
    text-align: left;
}
#Card p {
    font-size: 24px;
    padding-left: 2.5rem;
}

button.btn,
button:focus {
  list-style: none;
  width: 100%;
  outline: none !important; 
  box-shadow: none !important; 
  white-space: wrap;
  overflow: hidden;
}

.footer {
  margin: 5rem 0rem 5rem 0rem;
  width: 100%;
  padding-top: 42px;
  text-align: center;
  background: #1e3a8a;
  text-align: left;
  color: white;
}

.footer p {
  padding: 1.5rem;
  text-align: center;
  font-size: 18px;
}

@media screen and (min-width: 1080px) {
  .page-header {
    display: flex;
    margin-top: 3.5rem;
    font-size: 200px;
    color: #000000;
    padding: 5rem 3rem 5rem 3rem;
    gap: 5rem;
  }
  
  .page-header p {
    padding: 5rem 5rem 5rem 2rem;
  }
  .page-header button {
    justify-content: center;
  }
  li {
    padding-left: 2.5rem;
  }
  img.header-img {
    max-width: 800px;
    padding: 4rem 0rem 0rem 5rem;
  }
  .separator {
    height: 1px;
    width: 100%;
    margin: 25px 0;
    background: #BBBBBB;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .templates {
    margin-bottom: 10rem;
    background-size: cover;
    height: auto;
    width: auto;
    padding-bottom: 7rem;
    background: rgb(240, 240, 240);
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  }
  .templates h1 {
    padding-top: 3.5rem;
    text-align: center;
  }
  .templates p {
    padding: 1.5rem;
    text-align: center;
    font-size: 18px;
  }
  .templates img {
    padding: rem;
    border: 0px;
  }
  .features h1 {
    margin: 0rem 0rem 2rem 0rem;
    text-align: center;
  }
  #Feature {
    margin: 5rem 2.5rem 5rem 2.5rem;
    border: 1px;
    height: auto;
  }
  .light-blue-background {
    background-color: #e7f0fd;
    color: black;
    padding: 15px;
    border: 2px solid #80bfff;
    border-radius: 8px;
  }
  .faq {
    margin-top: 5rem;
    padding: 5rem 0rem 0rem 0
  }
}







  
