html,
body {
  height: 100%;
  font-size: 1rem;
  font-family: 'Lexend',sans-serif;
  font-style: bold;
}

button1 {
  width: 300x;
  height: 100px;
}

nav li a:hover {
  background-color: rgb(240, 240, 240);
  border-radius: 30px;
}
.gradient {
  background-image: url("../images/img1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 70% 95%, 0 100%);
}
.page-header {
  margin-top: 3.5rem;
  font-size: 200px;
  color: #000000;
}
.page-header p {
  padding: 10rem 5rem 0rem 0rem;
}
.page-header button {
  justify-content: center;
}
li {
  padding-left: 2.5rem;
}

